.jsoneditor {
  border: none;
}
div.jsoneditor.th div.jsoneditor-tree table.jsoneditor-tree .datatable-row td .datatable-row {
  border: none;
}

div.jsoneditor.th div.jsoneditor-tree table.jsoneditor-tree .datatable-row td .datatable-row {
  border: none;
}

.datatable-row, .datatable-row div, .datatable-row:first-child td, .datatable-row:last-child td ,.datatable-row th, .datatable-row td, .datatable-row tr, .datatable-row tbody {
  border: none;
}

.jsoneditor-menu {
  width: 100%!important;
  height: 35px!important;
  padding: 2px!important;
  margin: 0!important;
  -moz-box-sizing: border-box!important;
  -webkit-box-sizing: border-box!important;
  box-sizing: border-box!important;
  color: #fff!important;
  background-color: rgb(49, 51, 53)!important;
  border: none!important;
}

.dark .jsoneditor-box {
  background-color: #e8e8e8;
  margin-bottom: 2em;
  margin-top: .5em;
}

.jsoneditor-container {
  margin-bottom: 2em;
}